/* ESTILOS GLOBALES */
:root {
  --font-principal: "KoHo", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--font-principal);
}

/* END ESTILOS GLOBALES */

/* HEADER */
header {
  padding: 20px;
  width: 100%;
  display: flex;
  height: auto;
  background-color: #ff9800;
}

nav {
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
nav .logo-img {
  width: 20%;
}
nav .logo-img img {
  width: 100px;
  height: 100px;
}
nav .title {
  width: 60%;
  text-align: center;
}
nav ul {
  width: 20%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
nav ul li a:hover {
  color: #ab0c00;
}
.cart-btn {
  position: relative;
  cursor: pointer;
}
/* END HEADER */
/*  CART  */

.fa-cart-shopping,
.fa-circle-xmark,
.fa-circle-plus,
.fa-circle-minus {
  color: #ab0c00;
  font-size: 2rem;
  cursor: pointer;
}
.amount-items {
  position: absolute;
  top: -8px;
  right: -4px;
  background-color: #3e81c1;
  border-radius: 30%;
  color: #fff;
  padding: 0 5px;
}
.cart-drop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}
.cart-side {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: all 0.3s linear;
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.cart-side h2 {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 2rem;
}
/* CART ITEM  */
.cart-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}
.cart-item-row {
  display: flex;
  width: 50%;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.cart-item-count {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 1rem;
  text-transform: capitalize;
}
.cart-item h5 {
  margin: 0.5rem 0;
  font-size: 1rem;
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
/* END OF CART ITEM */

.cart-footer {
  margin-top: 2rem;
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.cart-btn-total {
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
}
#totalCart {
  font-size: 1.5rem;
  font-weight: 700;
}
#clearCart {
  font-family: var(--font-principal);
  border: none;
  background-color: #ff9800;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}
/* END OF CART  */

/* PRODUCTS */
#products {
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.containerProduct {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: auto;
  border: 1px solid #c2c2c2;
  padding: 10px;
}
.containerProduct:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.imgProduct {
  width: 300px;
  height: 300px;
}
.containerProduct h2 {
  font-size: 1.8rem;
}
.infoProduct h4 {
  color: #ab0c00;
  font-size: 1.4rem;
}
.addProduct {
  font-family: var(--font-principal);
  border: none;
  background-color: #ff9800;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}
.addProduct:disabled {
  background-color: #ccc;
}
.addProduct .fa-cart-shopping {
  font-size: 1rem;
  color: #fff;
}
/* END PRODUCTS */

/* BUILDING PAGE */

.en-construccion section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 76.1vh;
}

/* END BUILDING PAGE */

/* FOOTER */

footer {
  background-color: #ff9800;
  width: 100%;
  height: 80px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.FooterContainer {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.Copyright p {
  font-family: var(--font-principal);
  font-size: 16px;
  color: #000;
  line-height: 28px;
  font-weight: bold;
}

.IconsSocial {
  width: 5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.IconsSocial a {
  color: #000;
  font-size: 18px;
}

.IconsSocial a:hover {
  color: #ab0c00;
}
/* END FOOTER */
/* MEDIA QUERY */
/* MOBILE S */
@media screen and (min-width: 319px) and (max-width: 374px) {
  .FooterContainer {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .IconsSocial {
    gap: 15px;
  }
}

/*Mobile M*/
@media screen and (min-width: 375px) and (max-width: 424px) {
  .FooterContainer {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .IconsSocial {
    gap: 15px;
  }
}

/*Mobile L*/
@media screen and (min-width: 425px) and (max-width: 767.98px) {
  .FooterContainer {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .IconsSocial {
    gap: 15px;
  }
}

@media screen and (min-width: 768px) {
  .cart-side {
    width: 30vw;
    min-width: 450px;
  }
}
